body{
    padding:30%

}

.image{
    display: flex;
    justify-content: flex-start;
}


.button{
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 300px;
    height: 35px;
    border-radius: 10px;
}

.enlace{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: solid grey 2px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
}



.login{
    color: white;
    background-color: #7e3af2;
}

.login:hover{
    background-color: #6c2bd9;
}

.pie>span{
    color: #7e3af2;
    padding-top: 5px;
}