*{
    box-sizing: border-box;
}

body{
    font-family: inherit;
    margin: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconbell{6
    display: flex;

}
.iconbell > a{
    margin-right: 10px;
    margin-top: 5px;
}

.img > img{
    border-radius: 50%;
}

.pag{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-row: 1fr;
}

.menulateral{
    display: flex;
    flex-direction: column;

}

.menulateral > a{
    margin-top: 15px;
}

.addproduct{
    margin-top: 10px;
    height: 25px;
    width: 70%; 
    border: none;
    border-radius: 8px;
    background-color: mediumpurple;
}

