/* Flexbox */

.flex-parent {
    display: flex;
    flex:row;
    /* flex-wrap: wrap; /* pasa el contenedor a una  */
    /* linea nueva si no cabe en pantalla */ 
    height: 250px;
    /*flex-flow: atajo para convinar varias 
    propiedades en el caso de arriba row wrap*/ 
    /* Dentro de los justify tenemos mas propiedades para colocar los contenedores */

    justify-content: center; /* tambien tenemos flex-art (principio) flex-end (final)*/
    /* content "around bettwen evenly" */

    border: 2px solid black;
    height: 250px;

    align-items: stretch; /* alineamos a en vertical */

}

[class^="flex-child"] {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* psuedo selector nth-child nos deja coger el hijo que nosotros queramos
con "odd" seleccionmaos los impares y con "even" los pares */

.flex-parent > div:nth-child(odd) {
    background-color:rgb(148, 145, 145);
    color:#333
}

.flex-parent > div:nth-child(even) {
    background-color:#333;
    color:#ddd
}

/* el hijo reduce shrink o aumenta con grow su tamaño con mas rapidez */
.flex-child-1 {
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 250px;
    flex: 0 2 auto;
}

.flex-child-2 {
    flex-shrink: 3;
    flex-grow: 3 ;
    flex-basis: 250px;
    flex: 1 3 auto;
    align-self: flex-start;
}

.flex-child-3 {
    flex-shrink: 2;
    flex-grow: 2;
    flex-basis: 250px;
    flex: 0 1 250px;
}

