[class^=Barra]{
    border: 2px soli#ddd;
    margin-left: 50px;
    margin-right: 50px;;
    background-color: white;
    padding: 12px;
    
}

nav a:link{
    text-decoration: none;
    color: #333;
}

.Barra-right{
    float: right
}

