.footer{
   
    
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 10rem;
   
}

.footer div{
    border: black solid;
    min-width: 30rem;
    margin-left: 1rem;
    border-radius: 20px;
    padding: 2rem;
}

.copyright{
    text-align: center;
}