.forgot-password{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    padding: 50px;
    border-style: solid;
    border-width:thin;
    text-align: center;
    margin: auto;
    margin-top: 20rem;   
    border-radius: 30px;
    
}

.send-button{
    padding-top: 5px;
    background-color:rgb(13, 194, 13);
    font-weight: 400;
    font-weight: bold;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    margin-left: 5rem;
}

.send-button {
    height: 2rem;
    width: 15rem;
    align-self: center;

}

.forgot-password{
    background-image: url("../images/eila-lifflander-63ZCI1oxIMU-unsplash.jpg");
    background-size: 120vh;
}