.nav{
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr;
    margin: 5px;
    padding: 5px;
    background-color: blue;
    border-radius: 6px;
    
}
.actions{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.avatar img{
    border-radius: 60px;
    width: 2.5rem;
}

.iconbell{
    font-size: 20pt;   
    margin-top: 5px;
}

.actions, .logo, .search{
    align-self: center;
}

.search input{
    width: 80vh;
}

.logo{
    margin-left: 2rem;
}