.loginpage{
    display: flex;
    padding-top: 7.5rem;
    margin-left: 2.5rem;

}

body{
    background-color: whitesmoke;
}

.entry input, a, button{
    display: block;
    margin: 0.5rem;
    width: 20rem;
    height: 1.75rem;
}

.entry a{
    margin-left: 4rem;
}

.entry button{
    height: 2rem;
    width: 21.2rem;
}

.email{
    background-color: rgb(0, 110, 255);
}

.entry{
    padding:3rem;
    background-color: white;
    min-height: 8rem;
    margin-left: 10rem;
    border-radius: 15px;
    box-shadow: 8px 5px 5px  black;
}

button{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-weight: 400;
    font-weight: bold;
    color: white;
    font-weight: 700;
}

.entryaccount{
    background-color: rgba(0, 153, 255, 0.904);
    border-radius: 6px;   
}

.create{
    background-color: rgb(13, 194, 13);
    border-radius: 6px;
}

