*{
    box-sizing: border-box;
}
.container{
    padding: 10px;
    border: 2px solid grey;
}

header{
    margin-bottom: 20px;
}

.top-banner{
    position: relative;
}

.top-banner form{
    position:absolute;
    right:10px;
    top:50%;
    margin-top: -17px;

}

.news > a, .news span{
    display: block;

}

aside{
    float: left;
    width: 25%;
}

section{
    float:right;
    width: 73%;
}

.main-content{
    float:left;
    width: 75%;
}

.main-content img{
    float:left;
    margin-right: 20px;
}

.side-content{
    float:right;
    width: 24%;
}

.clear{
    clear: both;
}

footer{
    margin-top: 20px;
    clear: both;
}

footer span{
    float: right;
}