/* para que no se solapen las cajas para que cuente */

*{
    box-sizing: border-box;

}

/* Crear clase container para crear los bordes y paddin genericos */

.container{
    border: 2px solid gray;
    padding: 10px;
}
/* Estilos para header */

header{
    margin-bottom: 20px;
}

.top-banner{
    position: relative;

}

.top-banner form{
    position:absolute;
    right: 10px;
    top: 50%;
    margin-top: -17px;
}

/* Estilos para aside */

.news > a, .news span{
    display: block;

}

aside{
    width: 25%;
    float: left;
}

/* Contenido central */

section{
    float: right;
    width: 73%;
}

.main-content{
    float: left;
    width: 75%;
}

.main-content img{
    float: left;
    margin-right: 20px;
}

.side-content{
    float: right;
    width: 24%;
}

/* Footer */

footer{
    margin-top: 20px;
    clear:both
}

footer span{
    float: right;
}
